/*@import url('./reset.css');*/
/*@import url('./normalize.css');*/
/*@import url('./hightlight-default.css');*/
@import url('./bootstrap.min.css');

body {
  background-color: #f4f4f4;
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/*.container {*/
  /*padding: 0 35px;*/
/*}*/

.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
}

.clearfix::after {
  clear: both;
  overflow: hidden;
}

.clearfix {
  zoom: 1;
}

